<h1> Welcome to Nomster Place </h1>

<% @places.each do |place| %>
  <div class="booyah-box col-xs-10 col-xs-offset-1">
    <h2><%= place.name %></h2>
    <i><%= place.address %></i><br><br>
    <p><%= place.description %></p><br>

    <% if place.user.present? %>
      <small><%= place.user.email %></small>
    <% end %>
  </div>

<%= will_paginate @places %>

<% end %> 